<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>할일헤븐</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/board_style.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
    <div class="board_container" th:data-board-id="${boardId}">
        <div id="p1" class="mdl-progress mdl-js-progress"></div>
        <div class="kanban__title">
            <h1>
                <i class="material-icons">check</i> To do list
            </h1>
        </div>
        <div class="flex_container">
            <div class="dd" th:each="column : ${board.colList}" th:attr="data-column-id=${column.id}">
                <ol class="kanban To-do">
                    <div class="button_container">
                        <button class="delete-column-button" id="ColumnDeleteButton" th:attr="data-column-id=${column.id}" onclick="deleteColumn(this)">
                            <span class="material-symbols-outlined">delete_forever</span>
                        </button>

                    </div>
                    <div class="kanban__title" style="display: flex; justify-content: space-between;">
                        <h2 th:text="${column.colName}">Column Name</h2>
                        <button id="ColumnEditButton" onclick="openColumnEditForm()">
                            <i class="material-icons">settings</i>
                        </button>
                    </div>
                    <li class="dd-item">
                        <h3 class="title dd-handle">
                            <span></span>
                        </h3>
                        <div class="actions">
                            <button class="addbutt">
                                <i class="material-icons">control_point</i> Add new
                            </button>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <menu class="kanban">
            <button id="openAddBoardFormButton" onclick="openBoardEditForm()">
                <i class="material-icons">settings</i>
            </button>
            <button id="goToIndexButton" onclick="goToMyPage()">
                <i class="material-icons">chevron_left</i>
            </button>
            <button class="add-column-button" onclick="openColumnAddForm()">
                <i class="material-icons">playlist_add</i> Add new Column
            </button>
        </menu>

        <!--보드 수정-->
        <div class="popup-form" id="BoardEditForm" style="display: none;">
            <form id="editBoardForm">
                <div id="editBoardFormErrorMessage" style="font-weight: 100; color: red; margin-bottom: 10px;"></div>
                <input type="text" id="boardName" name="boardName" placeholder="Board Name" required><br>
                <input type="text" id="boardColor" name="boardColor" placeholder="Board Color" required><br>
                <input type="text" id="boardDescription" name="boardDescription" placeholder="Board Description" required><br>
                <input type="text" id="participants" name="participants" placeholder="Participants"><br>
                <button type="button" onclick="submitBoardEditForm()">Update Board</button>
                <button type="button" onclick="closeBoardEditForm()">Close</button>
            </form>
        </div>

        <!--컬럼 추가-->
        <div class="popup-form" id="ColumnAddForm">
            <form id="addColumnForm">
                <div id="addColumnFormErrorMessage" style="font-weight: 100; color: red; margin-bottom: 10px;"></div>
                <input type="text" id="colName" name="colName" placeholder="Column Name" required><br>
                <input type="text" id="colIndex" name="colIndex" placeholder="Column Index" required><br>
                <button type="button" onclick="submitColumnAddForm()">Create Column</button>
                <button type="button" onclick="closeColumnAddForm()">Close</button>
            </form>
        </div>

        <!--컬럼 수정-->
        <div class="popup-form" id="ColumnEditForm">
            <form id="editColumnForm">
                <div id="editColumnFormErrorMessage" style="font-weight: 100; color: red; margin-bottom: 10px;"></div>
                <input type="text" id="colEditName" name="colEditName" placeholder="Column Name" required><br>
                <input type="text" id="colEditIndex" name="colEditIndex" placeholder="Column Index" required><br>
                <button type="button" onclick="submitColumnEditForm()">Create Column</button>
                <button type="button" onclick="closeColumnEditForm()">Close</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/board_js.js}"></script>
</body>
</html>