<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link type="text/css" th:href="@{/css/sign_style.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="sign-up-container">
                <form>
                    <h1>Create Account</h1>
                    <p id="signupWarningMessage" style="font-weight:100; text-align:center; color: red; display: none;">
                        모든 정보를 입력해주세요.
                    </p>
                    <input type="text" id="name" placeholder="Name">
                    <input type="email" id="signupEmail" placeholder="Email">
                    <input type="text" id="phone" placeholder="Phone">
                    <input type="password" id="signupPassword" placeholder="Password">
                    <p id="signupSuccessMessage" style="font-weight:100; text-align:center; color: green; display: none;">
                        회원가입이 완료되었습니다!
                    </p>
                    <button class="form_btn" type="button" id="signUpBtn">Sign Up</button>
                </form>
            </div>
            <div class="sign-in-container">
                <form>
                    <h1>Sign In</h1>
                    <p id="loginFailedMessage" style="font-weight:100; text-align:center; color: red; display: none;">
                        로그인에 실패했습니다.<br />
                        회원 정보를 확인해 주세요.
                    </p>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <button class="form_btn" type="button" id="signInBtn">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay-left">
                    <h1>Welcome Back</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button id="signIn" class="overlay_btn">Sign In</button>
                </div>
                <div class="overlay-right">
                    <h1>Hello, Friend</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button id="signUp" class="overlay_btn">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            Cookies.remove('Authorization', {path: '/'});
        });

        const host = 'http://' + window.location.host;

        const href = location.href;
        const queryString = href.substring(href.indexOf("?")+1)
        if (queryString === 'error') {
            const errorDiv = document.getElementById('login-failed');
            errorDiv.style.display = 'block';
        }

        document.addEventListener("DOMContentLoaded", function() {
            const signUpBtn = document.getElementById("signUp");
            const signIn = document.getElementById("signIn");
            const signInBtn = document.getElementById("signInBtn");
            const container = document.querySelector(".container");

            signUpBtn.addEventListener("click", function() {
                container.classList.add("right-panel-active");
            });

            signIn.addEventListener("click", function() {
                container.classList.remove("right-panel-active");
            });

            signInBtn.addEventListener("click", function() {
                let email = $('#email').val();
                let password = $('#password').val();

                $.ajax({
                    type: "POST",
                    url: `/api/user/login`,
                    contentType: "application/json",
                    data: JSON.stringify({username: email, password: password}),
                })
                .done(function (res, status, xhr) {
                    // 홈 화면으로 이동
                    window.location.href = host;
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('statusCode: ' + xhr.status);
                    showLoginFailedMessage();
                });
            });

            $('#signUpBtn').click(function () {
                const name = $('#name').val();
                const email = $('#signupEmail').val();
                const phone = $('#phone').val();
                const password = $('#signupPassword').val();

                if (!name || !email || !phone || !password) {
                    showSignupWarningMessage();
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: '/api/join',
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: name,
                        email: email,
                        phone: phone,
                        password: password,
                        auth: 'USER'
                    }),
                })
                .done(function (res, status, xhr) {
                    showSignupSuccessMessage();
                    console.log('Signup successful');
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('Signup failed');
                });
            });
        });

        function onLogin() {
            let email = $('#email').val();
            let password = $('#password').val();

            $.ajax({
                type: "POST",
                url: `/api/user/login`,
                contentType: "application/json",
                data: JSON.stringify({username: email, password: password}),
            })
                .done(function (res, status, xhr) {
                    window.location.href = host;
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('statusCode: ' + xhr.status);
                    window.location.href = host + '/api/user/login-page?error'
                });
        }

        function showSignupWarningMessage() {
            const signupWarningMessage = document.getElementById('signupWarningMessage');
            signupWarningMessage.style.display = 'block';
        }

        function showSignupSuccessMessage() {
            const signupSuccessMessage = document.getElementById('signupSuccessMessage');
            signupSuccessMessage.style.display = 'block';
        }

        function showLoginFailedMessage() {
            const loginFailedMessage = document.getElementById('loginFailedMessage');
            loginFailedMessage.style.display = 'block';
        }
    </script>
</body>
</html>